<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org" >
<head>
<script src="//static.codepen.io/assets/editor/live/css_live_reload_init-e9c0cc5bb634d3d14b840de051920ac153d7d3d36fb050abad285779d7e5e8bd.js">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"/>
<link th:href="@{/css/profile.css}" rel="stylesheet" />
</head>
<body>
    <div class="contenedor">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg"/>
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script th:src="@{/js/profile.js}"></script>


</body>

</html>